$main-orange:#ffac0b;
$main-black:#000000;
$main-white:#ffffff;
$main-brown:#3e2903;

$secondary-white:#e7e4e4;
$secondary-orange:#d08c08;

$star-color-1:#ddb31c;
$star-color-2:#f7ab18;

$site-padding:2rem;