// sass modules
@use "./style_modules/base";
@use "./style_modules/variables";


img {
    max-width:200px;
}





// mixins
@mixin buttonBasic($bgColor:variables.$main-orange, $fgColor:variables.$main-white) {
    border:none;
    background:$bgColor;
    color:$fgColor;
    border-radius: 4px;
    padding:0.55rem 1.25rem;
}


@mixin basicHover() {
    transition: color 0.25s ease;
    opacity: 0.9;
    cursor: pointer;
}


@mixin basicHeading($headingColor:variables.$main-white) {
    font-size:2rem;
        line-height: 1.2;
        color:variables.$main-white;
}


@mixin basicSubHeading($headingColor:variables.$secondary-white) {
    font-weight:400;
    line-height: 1.4;
    color:variables.$secondary-white;
}


@mixin basicTinyHeading($headingColor:variables.$main-orange) {
    font-size: 0.75rem;
    font-weight: 500;
    color:variables.$main-orange;
}

@mixin spacingBetweenSections {
    margin:3rem 0;
}







// app
.app {
    max-width:900px;
    margin:0 auto;
}
@media (max-width:800px) {
    .app {
        max-width:100%;
    }
}

@media (max-width:650px) {
    // introduce the mobile view here
}





// navbar
.navbar {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:variables.$site-padding;
}

.navbar__links {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.navbar__links {
    color:variables.$secondary-white;

    a {
        margin:0 0.5rem;
        &:hover {
            @include basicHover;
        }
    }
}

.sign-up-btn {
    @include buttonBasic;
    margin-left:1rem;
}





// header
.header {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:variables.$site-padding;
}

.header__info {
    position: relative;
    h2 {
        @include basicHeading;
    }
    h3 {
        @include basicSubHeading;
        margin:1.25rem 0 1.25rem 0;
    }
}

.get-started-btn {
    @include buttonBasic;
    font-size:1rem;
    font-weight: 700;
    padding:0.55rem 1.55rem;
}

.header__imgs {
    position: relative;
    /*
    385px is width of navbar__links
    0.5 rem is the margin on an a tag within navbar__links
    */
    width:calc(385px - 0.5rem);
    z-index:100;
    left:0;
    top:0;
}

.header__imgs__img-1 {
    z-index:100;
    max-width:200px;
    display:block;

    left:-25%;
    transform: translateX(25%);
}

.header__imgs__img-2 {
    position: absolute;
    z-index:200;
    max-width:250px;

    top:50%;
    left:100%;
    transform: translate(-100%, -50%);
}

.header__imgs__img-3 {
    position: relative;
    z-index:300;
    max-width:250px;
    display:block;

    top:20%;
    transform: translateY(-20%);
}





// about us
.about-us {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    @include spacingBetweenSections;
}

.about-us__img {
    max-width:400px;
}

.about-us__info__heading {
    @include basicTinyHeading;
}

.about-us__info__subheading {
    @include basicHeading;
    margin:0.75rem 0 0.75rem 0;
}

.about-us__info__text {
    @include basicSubHeading;
}





// whats trending
.popular-dish {
    @include spacingBetweenSections;
}

.popular-dish__titles {
    h2 {
        @include basicHeading;
        // margin:0.75rem 0 0.75rem 0;
        margin-top:0.75rem;
        font-size:1.75rem;
    }
    h3 {
        @include basicTinyHeading;
    }
}

.popular-dish__dishes {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.popular-dish__dish {
    text-align: center;

    .rating__stars i {
        color:variables.$star-color-1;
    }
}

.popular-dish__dish__title {
     font-weight: 500;
     margin-top:0.25rem;
}

.popular-dish__dish__price {
    color:variables.$secondary-white;
    font-weight: 400;
}

.popular-dish__dish__img {
    max-width:175px;
}

.popular-dish__dish__img-1 {
    max-width: 200px;
}

.popular-dish__dish__img-3 {
    max-width:210px;
}





// testimonials
.testimonials {
    @include spacingBetweenSections;
}

.testimonials__heading {
    @include basicHeading;
    font-size:1.75rem;
    margin-bottom:1rem;
}

.testimonials__cards {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
}

.testimonials__card {
    border:2px solid rgb(80, 80, 80);
    border-radius: 10px;
    padding:2rem 1.5rem;
}

.testimonials__card__text {
    margin-bottom:1rem;
}

.testimonials__card__profile {
    display:flex;
    align-items:center;
}

.testimonial__profile__img {
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit: cover;
    object-position: center center;
    margin-right:0.75rem;
}

.profile__rating__heading {
    font-size:1rem;
    font-weight:500;
}

.profile__rating__rating {
    display:flex;
}

.start-filled {
    color:variables.$star-color-1;
}

.start-unfilled {
    color:#fff;
}

.rating__score {
    margin-left:0.25rem;
}





// newsletter-section
.newsletter-section {
    @include spacingBetweenSections;
    padding:6rem 0;
    background-color:variables.$secondary-orange;
    border-radius: 5px;
    background-image: url("./images/newsletter/miti-qYreP9QOdrk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 90% 0%;

    box-shadow: inset 0 -10px 100px #000;
}

.newsletter {
    text-align: center;
}

.newsletter__header {
    font-size:2.25rem;
    font-weight: 400;
    text-shadow: 0px 4px 2px #000;
    text-transform: uppercase;
    font-weight: 500;
    line-height:1.6;
}

.newsletter__form {
    position: relative;
    display:flex;
    justify-content: center;
    margin:2rem auto;
    width:55%;
    height:3rem;
}

.newsletter__form__input {
    width:100%;
    border:none;
    border-radius: 50px;
    font-size:0.9rem;
    padding-left:1.25rem;
}

.newsletter__form__input::placeholder {
    color:#bbb;
}

.newsletter__form__submit-btn {
    position: absolute;
    @include buttonBasic;
    border-radius: 50px;
    font-weight:700;
    height:calc(100% - 0.5rem);
    top:50%;
    left:calc(100% - 0.15rem);
    transform:translate(calc(-100% - 0.15rem),-50%);
}

.newsletter__form__submit-btn:hover {
    @include basicHover;
}

.newsletter__new-member-link {
    text-decoration: underline;
    color:variables.$main-orange;
}

.newsletter__new-member-link:hover {
    @include basicHover;
}
